@model Blogging.Models.Blog

@{
    ViewBag.Title = "Details";
}
@{
    Layout = "~/Views/Shared/Moderator_Layout.cshtml";
}
<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.blog_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blog_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blog_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blog_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blog_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blog_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.blog_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.blog_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bloger.blogerid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bloger.blogerid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
